---

BasedOnStyle: LLVM

Language: Cpp
Standard: c++11 

ColumnLimit: 120

IndentWidth: 4
UseTab: Never

PointerAlignment: Right

BreakBeforeBraces: Attach

IndentCaseLabels: true

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

AlignConsecutiveDeclarations: false
AlignConsecutiveAssignments: false
AlignConsecutiveMacros: true

SpaceBeforeAssignmentOperators: true
SpaceAroundPointerQualifiers: Default

SpaceBeforeParens: ControlStatements

SortIncludes: true

---